<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>Typetutor</title>
    </head>
    <body class="container">

        <header th:fragment="header">
            Logged in as <span sec:authentication="name">Username</span> 
            <table class="table">
                <tr>
                    <th><a th:href="@{/typetutor/account}">My account</a></th>
                    <th><form method="POST" action="#" th:action="@{/logout}">
                            <input type="submit" name="logout" value="Logout"/>
                        </form></th>
                </tr>
            </table>

        </header>

    </body>
</html>
